@font-face {
    src: url(AVENGEANCEHEROICAVENGERAT.ttf);
    font-family: marvel;
}



body {
    margin: 0;
    background: lightblue;
    background-image: url('backgroundimg.jpg');
  }

.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    position: absolute;
    top:10%;
}
#board {
    height: 100vh;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

.cell {
    width: 120px;
    height: 120px;
    background-color: rgba(77, 75, 75, 0.596);
}


.playerX {
background-image: url('capCrossFive.png')
}

.playerO {
background-image: url('circleTwo.png')
}


h2 {
    font-family: marvel;
    position: absolute;
    left: 40%;
    font-size: 2.5em;
    top: 1%;
    color: rgba(0, 71, 212, 0.7);
    text-shadow: 1px 1px 10px #ffffff, 0 0 5px #d40000;
}
.curr{
    position: absolute;
    left: 44%;
    top: 9%;
    font-family: marvel;
    font-size: 1.9em;
    color: #d40000;
    text-shadow: 1px 1px 5px #ffffff, 0 0 5px #0000FF;
}



h3 {
    position: absolute;
    left: 45%;
    top: 14%;
    font-family: marvel;
    font-size: 2em;
    color: #d40000;
    text-shadow: 1px 1px 5px #ffffff, 0 0 5px #0000FF;
}

button{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    padding: 1em 4em;
    text-align: center;
    text-transform: uppercase;
    font-family: marvel;
    border-color: #3498db;
    text-shadow: 1px 1px 10px #000000, 0 0 5px #d3d3d3;
    box-shadow: 0 0 40px 40px #0000FF inset, 0 0 0 0 #0000FF;
    transition: all 150ms ease-in-out;
}
button:hover, button:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 10px 0 #0000FF inset, 0 0 10px 4px #0000FF;
  }

  #resetBtn{
    position: absolute;
    top: 91%;
    left: 44%;
}