@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
  text-align: center;
  background-color: floralwhite;
  color: #3E442B;
  font-family: Raleway;
  background-image: url('./bkg.png');
  background-size: cover;
  padding-top: 250px;
}

h1 {
  font-family: Hanalei;
  letter-spacing: 10px;
  font-size: 5rem;
  padding: 0;
  margin: 0 auto;
}

h3 {
  text-transform: uppercase;
  letter-spacing: .35rem;
}

button {
  margin: 20px auto;
  display: block;
  font-family: Raleway, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: floralwhite;
  box-shadow: inset -2px -2px 20px #3E442B;
}

button:focus {
  outline: none;
}

.game-type{
  display: flex;
  justify-content: center;
  height: 50px;
  box-sizing: border-box
}

input{
  display: none;
}

label{
  margin: 5px 10px;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

input:checked+label{
  color: #FF87AB;
}

label::after {
  content: '';
  display: block;
  border-bottom: 3px solid #FF87AB;
  width: 0;
  bottom: -1px;
  position: absolute;
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

input:checked+label::after {
  width: 100%;
}




.main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;

}

.board {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 32%;
  height: 100px;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Hanalei;
}

[id="1"], [id="7"], [id="4"] {
  border-right: solid #3E442B 1px;
  border-left: solid #3E442B 1px;
}

[id="3"], [id="4"], [id="5"] {
  border-top: solid #3E442B 1px;
  border-bottom: solid #3E442B 1px;
}

.O {
  color: #FF87AB;
}
