*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Gameplay */

.x::before {
  content: "x";
}

.o::before {
  content: "o";

}


/* Board Resize */

#board-3x3 {
    width: 350px;   
}

#board-4x4 {
    width: 450px;
}

#board-5x5 {
    width: 550px;
}


/* Style  */

body {
    background: mediumvioletred;
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    padding-top: 10px;
}

.header_container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

.ghost {
    width: 20%;
}

h1 {
    font-family: 'Lalezar', cursive;
    font-size: 40px;
    text-align: center;
    color: lightgreen;
}

.container_toggle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 38px;
    width: 20%;
  }

p {
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    text-align: right;
    color: mintcream;
    margin: 10px;
  }
  .container_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  .container_switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .container_switch--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: mintcream !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .container_switch--slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: mediumseagreen;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .container_switch--slider {
    background: mintcream !important;
  }
  input:focus + .container_switch--slider {
    box-shadow: 0 0 1px black;
  }
  input:checked + .container_switch--slider:before {
    -webkit-transform: translateX(31px);
    -ms-transform: translateX(31px);
    transform: translateX(31px);
  }
  /* Rounded sliders */
  .container_switch--slider.container_switch--round {
    border-radius: 15px;
  }
  .container_switch--slider.container_switch--round:before {
    border-radius: 50%;
  }





#all {
    text-align: center;
}

.board {
    margin: 30px auto;
    font-family: 'Crafty Girls', cursive;
    font-size: 60px;
    color: lightgreen;
}

#game-over {
    font-family: 'Lalezar', cursive;
    margin: 5px;
    padding: 5px;
    color: lightgreen;
    font-size: 50px;
    font-weight: 600;
}

#reset,#change {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    border: none;
    color: seagreen;
    background: mintcream;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#reset:hover,#change:hover {
    background: mediumseagreen;
    color: mintcream;
}

#change {
    margin: 0 auto 0 10px;
}

.grid-size-style {
    font-family: 'Heebo', sans-serif;
    color: mintcream;
}

#x3,#x4,#x5 {
    cursor: pointer;
}

.square {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid mediumvioletred;
  cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.played {
  pointer-events: none;
}


/* Grid classes */

#top-left {
  border-right: 2px solid mintcream;
  border-bottom: 2px solid mintcream;
}

#top-mid-left {
    border-left: 2px solid mintcream;
    border-right: 2px solid mintcream;
    border-bottom: 2px solid mintcream;
}

#top-mid {
  border-left: 2px solid mintcream;
  border-right: 2px solid mintcream;
  border-bottom: 2px solid mintcream;
}

#top-mid-right {
    border-left: 2px solid mintcream;
    border-right: 2px solid mintcream;
    border-bottom: 2px solid mintcream;
}

#top-right {
  border-left: 2px solid mintcream;
  border-bottom: 2px solid mintcream;
}


#cent-left-top {
    border-top: 2px solid mintcream;
    border-right: 2px solid mintcream;
    border-bottom: 2px solid mintcream;
}

#cent-mid-left-top {
    border: 2px solid mintcream;
}

#cent-mid-right-top {
    border: 2px solid mintcream;
}

#cent-mid-top {
    border: 2px solid mintcream;
}

#cent-right-top {
    border-top: 2px solid mintcream;
    border-left: 2px solid mintcream;
    border-bottom: 2px solid mintcream;
}


#cent-left {
  border-top: 2px solid mintcream;
  border-right: 2px solid mintcream;
  border-bottom: 2px solid mintcream;
}

#cent-left-mid {
    border: 2px solid mintcream;
}

#cent-mid {
  border: 2px solid mintcream;

}

#cent-right-mid {
    border: 2px solid mintcream;
}

#cent-right {
  border-top: 2px solid mintcream;
  border-left: 2px solid mintcream;
  border-bottom: 2px solid mintcream;
}



#cent-left-bot {
    border-top: 2px solid mintcream;
    border-right: 2px solid mintcream;
    border-bottom: 2px solid mintcream;
}

#cent-mid-left-bot {
    border: 2px solid mintcream;
}

#cent-mid-bot {
    border: 2px solid mintcream;
}

#cent-mid-right-bot {
    border: 2px solid mintcream;
}

#cent-right-bot {
    border-top: 2px solid mintcream;
    border-left: 2px solid mintcream;
    border-bottom: 2px solid mintcream;
}


#bot-left {
  border-right: 2px solid mintcream;
  border-top: 2px solid mintcream;
}

#bot-mid-left {
    border-top: 2px solid mintcream;
    border-left: 2px solid mintcream;
    border-right: 2px solid mintcream;
}

#bot-mid {
  border-left: 2px solid mintcream;
  border-right: 2px solid mintcream;
  border-top: 2px solid mintcream;
}

#bot-mid-right {
    border-top: 2px solid mintcream;
    border-left: 2px solid mintcream;
    border-right: 2px solid mintcream;
}

#bot-right {
  border-left: 2px solid mintcream;
  border-top: 2px solid mintcream;
}