.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
.container > div {
    border: 1px solid black;
    font-size: 300px;
    text-align: center;
    padding: 120px 0;
    line-height: 0px;
}

.playerInfo {
    position: absolute;
    left: 0px;
    top: 80px;
    font-size: 30px;
    margin: auto;
}

.computerInfo {
    position: absolute;
    right: 0px;
    top: 80px;
    font-size: 30px;
}

.gameInfo {
    position: absolute;
    right: 0px;
    bottom: 100px;
    font-size: 25px;
}

button {
    display: block;
    margin: 0 auto; 
}

.x {
    color: red;
}

.o {
    color: blue;
}

